@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body{
	font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,p,a,span{
	font-family: 'Roboto', sans-serif;
}
header{
	background: #339966;
	height: 70px;
	color:#fff;
}
.header h1{
	margin: 0;
	padding-bottom: 30px;
}
.header{
	margin:0;
	text-align:center;
	padding:20px 0;
	width:100%;
	background-image: url('../image/background.svg');
	color:#fff;
}

.clock-timer{
	display: block;
margin: auto;
clear: both;
position: relative;
width: 462px;
}
a{text-decoration: none;color: #fff;}
header p{padding-top:20px;}
footer{
	background: #339966;
	height: 100px;
	color:#fff;
}
footer p{padding-top:50px;}
.image{
	padding-top:10%;
	height: 453px;
}
.intro{
	padding-top:50px;
}
p.questions{font-size: 20px;}
.question{min-height: 403px; padding-bottom: 20px; }

.logout{padding-top:100px;}
.next{margin-left:200px;}
.answer{color:green;font-weight: 300;font-size: larger; }
.result{text-align:center;}
#timer{ float:right;padding: 5px 20px 0 0;}
.already{text-align:center;}
